<section class='create-post'>
  <h4>Write a New Post Here</h4>
  <form class="add-post" action="/posts/new" method="post">

    <div class="wins">
      <div>
        <label for="post-win">Celebrate Your Wins</label>
      </div>
      <div>
        <textarea name="wins" rows="8" cols="100"></textarea>
      </div>
    </div>

    <div class="losses">
      <div>
        <label for="post-losses">Reflect on Your Losses</label>
      </div>
      <div>
        <textarea name="losses" rows="8" cols="100"></textarea>
      </div>
    </div>

    <div class="learned">
      <div>
        <label for="post-learned">Appreciate the Lessons Learned</label>
      </div>
      <div>
        <textarea name="learned" rows="8" cols="100"></textarea>
      </div>
    </div>

    <div>
      <input type="submit">
    </div>
  </form>
</section>
