<h1>EOD Stand Down - Reflect	&#38; Grow!</h1>
<h3>Produced with Express js, pSQL, and Heroku DB</h3>

<section class='display-posts'>
    {{#each posts}}
    <div class='single-post'>
      <h3>{{this.title}}</h3>
      <p>{{this.user_id}} - {{this.created_at}}</p>
      <p>{{this.body}}</p>
    </div>
    {{/each}}
</section>
