<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>EOD Stand Down - Reflect &#38; Grow</h1>
      <!-- <h3>Produced with Express js, pSQL, and Heroku DB</h3> -->
    </header>
    {{{body}}}
  </body>
</html>
