<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section>
  <h2>Login:</h2>
  <form action="/login" method="POST">
    <input placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="Login">
  </form>
</section>

<a href="/users/register">Register as a new user</a>
