body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.display-posts {
  margin: 50px 0px;
}

.single-post {
  margin: 25px 0;
  border: solid 0.5px;
  padding: 10px;
}

.single-post p {
  font-size: 11px;
  letter-spacing: 1px;
}

.single-post span {
  color: gray;
  font-weight: lighter;
}
