body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: orange;
  font-size: 10px;
  text-decoration: none
}

.display-posts {
  margin: 50px 0px;
}

.single-post {
  margin: 25px 0;
  border: solid 0.5px;
  padding: 10px;
}

.single-post p {
  font-size: 11px;
  letter-spacing: 1px;
}

.single-post span {
  color: gray;
  font-weight: lighter;
}

.single-post a {
  /*why doesn't this work??*/
  margin-top: 20px;
  color:red
}

.loggedinOptions button{
  margin: 5px 0 5px 0;
}
