body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  /*background: url(../images/honeycomb.jpeg) no-repeat;
  background-size:100vw;*/
}

a {
  color: rgb(109, 26, 26);
  font-size: 10px;
  text-decoration: none
}

a:hover {
  color: red;
}

header {
  margin-bottom: 25px;
}

header > a > *{
  display: inline;
  color: black;
  text-decoration: none;
}

header > a > h1{
  font-size: 35px;
}

header:hover, .single-post a:hover {
  color: red;
}

.display-posts {
  margin: 50px 0px;
}

.single-post {
  margin: 25px 0;
  border: 0.5px solid;
  padding: 10px;
  /*background-color: rgba(225, 225, 225, .5)*/
}

.single-post p {
  font-size: 11px;
  letter-spacing: 1px;
}

.single-post span {
  color: rgb(84, 84, 84);
  font-weight: lighter;
}

.single-post a {
  /*why doesn't this work??*/
  margin-top: 20px;
  color:rgb(109, 26, 26)
}

.loggedinOptions button {
  margin: 5px 0 5px 0;
}

.read-comments {
  margin:10px 0 35px 0
}

.read-comments h4 {
  font-weight: 400;
  margin:10px 0
}

.single-comment {
  margin: 15px 0;
}
.single-comment p:first-child {
  font-size: 12px;
  margin: 3px 0px
}
.single-comment p:nth-child(2) {
  font-size: 10px;
  color: rgb(84, 84, 84);
  margin: 3px 0px
}

.user-session > a {
  font-weight: bolder;
}
